/* Write your CSS here! */
body{
    margin: 8px;
    display: block;
    background-color: rgb(141, 123, 123);
    color: whitesmoke;
}

#mainHeading{
    color: red;
}

.funParagraph{
    color: green;
}

img{
    width: 800px;
    height:500px;
}
.mycar{
    color: rgb(52, 175, 7);
}
article{
    margin:0 30px;
}